<footer class="container max-w-full bg-white dark:bg-gray-900">
  <div class="mx-auto w-full">
    <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4 text-center">
      <div>
        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Company</h2>
        <ul class="text-gray-500 dark:text-gray-400 font-medium">
          <li class="mb-4">
            <a href="#" class="hover:underline">About</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Careers</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Brand Center</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Blog</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Help center</h2>
        <ul class="text-gray-500 dark:text-gray-400 font-medium">
          <li class="mb-4">
            <a href="#" class="hover:underline">Discord Server</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Twitter</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Facebook</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Contact Us</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
        <ul class="text-gray-500 dark:text-gray-400 font-medium">
          <li class="mb-4">
            <a href="#" class="hover:underline">Privacy Policy</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Licensing</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Terms &amp; Conditions</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Download</h2>
        <ul class="text-gray-500 dark:text-gray-400 font-medium">
          <li class="mb-4">
            <a href="#" class="hover:underline">iOS</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Android</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Windows</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">MacOS</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="px-4 py-6 bg-gray-100 dark:bg-gray-700 flex flex-col items-center justify-center md:flex-row md:items-center md:justify-between">
      <span class="text-sm text-gray-500 dark:text-gray-300 sm:text-center mb-4 md:mb-0">© 2023 <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>. All Rights Reserved.</span>
      <div class="flex space-x-5 rtl:space-x-reverse">
        <a href="#" class="text-gray-400 hover:text-gray-900 dark:hover:text-white">
          <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 8 19">
            <path fill-rule="evenodd" d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z" clip-rule="evenodd"/>
          </svg>
          <span class="sr-only">Facebook page</span>
        </a>
        <a href="#" class="text-gray-400 hover:text-gray-900 dark:hover:text-white">
          <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 21 16">
            <path d="M16.942 1.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.585 11.585 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3A17.392 17.392 0 0 0 .182 13.218a15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.63 10.63 0 0 1-1.706-.83c.143-.106.283-.217.418-.33a11.664 11.664 0 0 0 10.118 0c.137.113.277.224.418.33-.544.328-1.116.606-1.71.832a12.52 12.52 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM6.678 10.813a1.941 1.941 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z"/>
          </svg>
          <span class="sr-only">Discord community</span>
        </a>
        <a href="#" class="text-gray-400 hover:text-gray-900 dark:hover:text-white">
          <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 17">
            <path fill-rule="evenodd" d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.809 2.81 8.203 8.203 0 0 1-5.06 1.74A8.265 8.265 0 0 1 0 15.892a11.57 11.57 0 0 0 6.229 1.818c7.469 0 11.558-6.28 11.558-11.722 0-.17-.005-.34-.014-.51A8.107 8.107 0 0 0 20 1.892ZM15.856 6.287a1.799 1.799 0 0 0-1.77-1.796 1.799 1.799 0 0 0-1.771 1.796 1.799 1.799 0 0 0 1.77 1.796 1.799 1.799 0 0 0 1.771-1.796Z" clip-rule="evenodd"/>
          </svg>
          <span class="sr-only">Twitter page</span>
        </a>
        <a href="#" class="text-gray-400 hover:text-gray-900 dark:hover:text-white">
          <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M16 2c-.672 0-1.318.148-1.88.421-.568.273-1.065.648-1.489 1.108-.369.393-.645.854-.807 1.368C12.137 5.5 11.586 5 11 5c-1.054 0-1.903.787-2 1.8v.2H7v3h2v8h3V9h1.8c.017-.154.026-.308.026-.462 0-2.209-1.791-4-4-4Zm-4 1h2v1h-2V3Zm1 1v1h-1V4h1Zm-1 3.8c-.832 0-1.5.668-1.5 1.5s.668 1.5 1.5 1.5 1.5-.668 1.5-1.5-.668-1.5-1.5-1.5Zm0 2c-.276 0-.5-.224-.5-.5s.224-.5.5-.5.5.224.5.5-.224.5-.5.5Z" clip-rule="evenodd"/>
          </svg>
          <span class="sr-only">Github account</span>
        </a>
      </div>
    </div>
  </div>
</footer>
